{{> navbar-partial}}


<div class="row">

    {{> sidebar-partial}}

    <h1>See All Our Pets</h1>

    <ul class="col s7 push-s1">
        {{#each Animal}}
        <p id="petsCard">
            Type: {{TypeName}}<br>
            Name: {{AnimalName}}<br>
            Age: {{Age}}<br>
            About: {{About}}<br>
            Owner: {{OwnerName}}<br>
            Email: {{OwnerEmail}}<br>
        </p>
        {{/each}}
    </ul>

</div>