{{> navbar-partial}}


<div class="row">

    {{> sidebar-partial}}

    <div class="container-fluid col s12 m8 l9" id="typePets">
        <div class='row'>
            <h2>
                {{#if Animal}}
                {{Animal.TypeName}}
                {{/if}}
            </h2>
            <div class="col s3 m5 l2">
                <a class="btn waves-effect waves-light #37474f blue-grey darken-3" type="submit" name="action"
                    id="backType" href="specificpets">Go Back
                </a>
            </div>
        </div>
        <ul class="col s7 push-s1">
            {{#each Animal}}
            <p id="petsCard">
                <img src="{{ImageLink}}"><br>
                Type: {{TypeName}}<br>
                Name: {{AnimalName}}<br>
                Age: {{Age}}<br>
                About: {{About}}<br>
                Owner: {{OwnerName}}<br>
                Email: {{OwnerEmail}}<br>
            </p>
            {{/each}}
        </ul>

    </div>

</div>